body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.slider img,
.card-image {
  height: 450px;
  object-fit: cover;
}

.thumbs img {
  height: 60px;
  object-fit: cover;
}
.jumbotron {
  background-color: rgba(228, 228, 228, 0.925);
  display: flex;
  height: 7rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.8rem;
}

image-fit {
  width: 50%;
}
